#map
{
    position: relative;
    width : 600px;
    height : 800px;
    background-color: grey;
    margin: auto;
}

#dynamic
{
    position: absolute;
    width : 100px;
    height : 100px;
    background-color: black;
    top: 0px;
    left: 0px
}


