#game {
  background: greenyellow;
  width: 600px;
  height: 300px;
  position: relative;
  margin: 0 auto;
  overflow: hidden;
  border-radius: 5px;
  border: 2px solid black;
}

#ball {
  background: #f9f906;
  position: absolute;
  width: 13px;
  height: 13px;
  left: 290px;
  top: 140px;
  border-radius: 10px;
  border: 1px solid black;
}

.paddle {
  background: green;
  position: absolute;
  width: 20px;
  height: 100px;
  border-radius: 5px;
  border: 1px solid black;
}

#paddleA {
  left: 10px;
  top: 100px
}

#paddleB {
  left: 570px;
  top: 100px
}

#menutext{
  color:dodgerblue;
  position: absolute;
  top: 10%;
  left: 50%;
  font-size: 40px;
  font-family: lucida;
}

#score{
  color: black;
  position: absolute;
  width: 40px;
  height: 100px;
}